# git ignore file for omi project

/Packages
/Unix/GNUmakefile
/Unix/installbuilder/nuget
/Unix/output
/Unix/output1
/Unix/output2
/Unix/output3
/Unix/output4
/Unix/output_openssl_0.9.8/
/Unix/output_openssl_1.0.0/
/Unix/output_openssl_1.0.2/
/Unix/output_openssl_1.1.0/
nits.log
/Unix/tests/oi/out.c.txt
/Unix/etc/ssl/certs/omikey.pem
/Unix/etc/ssl/certs/omi.pem
/Unix/etc/ssl/certs/omi.der
/Unix/etc/creds
