
#include "strid_errors.h"
STRINGTABLE
BEGIN
        STRID_EPERM, L"Operation not permitted"
        STRID_ENOENT, L"No such file or directory"
        STRID_ESRCH, L"No such process"
        STRID_EINTR, L"Interrupted function"
        STRID_EIO, L"I/O error"
        STRID_ENXIO, L"No such device or address"
        STRID_E2BIG, L"Argument list too long"
        STRID_ENOEXEC, L"Exec format error"
        STRID_EBADF, L"Bad file number"
        STRID_ECHILD, L"No spawned processes"
        STRID_EAGAIN, L"No more processes or not enough memory or maximum nesting level reached"
        STRID_ENOMEM, L"Not enough memory"
        STRID_EACCES, L"Permission denied"
        STRID_EFAULT, L"Bad address"
        STRID_EBUSY, L"Device or resource busy"
        STRID_EEXIST, L"File exists"
        STRID_EXDEV, L"Cross-device link"
        STRID_ENODEV, L"No such device"
        STRID_ENOTDIR, L"Not a directory"
        STRID_EISDIR, L"Is a directory"
        STRID_EINVAL, L"Invalid argument"
        STRID_ENFILE, L"Too many files open in system"
        STRID_EMFILE, L"Too many open files"
        STRID_ENOTTY, L"Inappropriate I/O control operation"
        STRID_EFBIG, L"File too large"
        STRID_ENOSPC, L"No space left on device"
        STRID_ESPIPE, L"Invalid seek"
        STRID_EROFS, L"Read-only file system"
        STRID_EMLINK, L"Too many links"
        STRID_EPIPE, L"Broken pipe"
        STRID_EDOM, L"Math argument"
        STRID_ERANGE, L"Result too large"
        STRID_EDEADLK, L"Resource deadlock would occur"
        STRID_ENAMETOOLONG, L"Filename too long"
        STRID_ENOLCK, L"No locks available"
        STRID_ENOSYS, L"Function not supported"
        STRID_EILSEQ, L"Illegal byte sequence"
        STRID_STRUNCATE, L"String was truncated"

END

STRINGTABLE
BEGIN
        STRID_MI_RESULT_OK, L"The operation was successful."
        STRID_MI_RESULT_FAILED, L"A general error occurred, not covered by a more specific error code."
        STRID_MI_RESULT_ACCESS_DENIED, L"Access to a CIM resource is not available to the client."
        STRID_MI_RESULT_INVALID_NAMESPACE, L"The target namespace does not exist."
        STRID_MI_RESULT_INVALID_PARAMETER, L"One or more parameter values passed to the method are not valid."
        STRID_MI_RESULT_INVALID_CLASS, L"The specified class does not exist."
        STRID_MI_RESULT_NOT_FOUND, L"The requested object cannot be found."
        STRID_MI_RESULT_NOT_SUPPORTED, L"The requested operation is not supported."
        STRID_MI_RESULT_CLASS_HAS_CHILDREN, L"The operation cannot be invoked because the class has subclasses."
        STRID_MI_RESULT_CLASS_HAS_INSTANCES, L"The operation cannot be invoked because the class has instances."
        STRID_MI_RESULT_INVALID_SUPERCLASS, L"The operation cannot be invoked because the superclass does not exist."
        STRID_MI_RESULT_ALREADY_EXISTS, L"The operation cannot be invoked because an object already exists."
        STRID_MI_RESULT_NO_SUCH_PROPERTY, L"The specified property does not exist."
        STRID_MI_RESULT_TYPE_MISMATCH, L"The value supplied is not compatible with the type."
        STRID_MI_RESULT_QUERY_LANGUAGE_NOT_SUPPORTED, L"The query language is not recognized or supported."
        STRID_MI_RESULT_INVALID_QUERY, L"The query is not valid for the specified query language."
        STRID_MI_RESULT_METHOD_NOT_AVAILABLE, L"The extrinsic method cannot be invoked."
        STRID_MI_RESULT_METHOD_NOT_FOUND, L"The specified extrinsic method does not exist."
        STRID_MI_RESULT_NAMESPACE_NOT_EMPTY, L"The specified namespace is not empty."
        STRID_MI_RESULT_INVALID_ENUMERATION_CONTEXT, L"The enumeration identified by the specified context is invalid."
        STRID_MI_RESULT_INVALID_OPERATION_TIMEOUT, L"The specified operation timeout is not supported by the CIM Server."
        STRID_MI_RESULT_PULL_HAS_BEEN_ABANDONED, L"The Pull operation has been abandoned."
        STRID_MI_RESULT_PULL_CANNOT_BE_ABANDONED, L"The attempt to abandon a concurrent Pull operation failed."
        STRID_MI_RESULT_FILTERED_ENUMERATION_NOT_SUPPORTED, L"Using a filter in the enumeration is not supported by the CIM server."
        STRID_MI_RESULT_CONTINUATION_ON_ERROR_NOT_SUPPORTED, L"The CIM server does not support continuation on error."
        STRID_MI_RESULT_SERVER_LIMITS_EXCEEDED, L"The operation failed because server limits were exceeded."
        STRID_MI_RESULT_SERVER_IS_SHUTTING_DOWN, L"The CIM server is shutting down and cannot process the operation."
        STRID_MI_RESULT_CANCELED, L"The operation was canceled."
        STRID_MI_RESULT_OPEN_FAILED, L"The operation failed."
        STRID_MI_RESULT_INVALID_CLASS_HIERARCHY, L"Invalid class hierarchy."
        STRID_MI_RESULT_WOULD_BLOCK, L"Socket would block."
        STRID_MI_RESULT_TIME_OUT, L"Result timed out."
END
